In [1]:
import numpy as np
import pandas as pd

import talib as ta

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
spy = pd.read_csv('spy_daily_2009_2022.csv', index_col=0)
spy.index = pd.to_datetime(spy.index)
spy

                  Open        High         Low       Close     Volume
Date
2009-01-02   68.991362   71.279886   68.541283   70.913719  227566300
2009-01-05   70.662023   71.447755   70.097522   70.829849  240349700
2009-01-06   71.432485   72.050385   70.700157   71.302803  328260900
2009-01-07   70.181405   70.379745   68.808288   69.166824  280899200
2009-01-08   68.777798   69.487235   68.404002   69.449097  263834400
...                ...         ...         ...         ...        ...
2022-06-23  373.384588  375.555631  369.667000  374.792297   79292100
2022-06-24  378.103436  386.718328  378.073696  386.708405   98050300
2022-06-27  387.670022  387.977340  384.091239  385.231293   66009600
2022-06-28  386.857107  389.761775  377.240936  377.359894   86548900
2022-06-29  377.934904  378.965893  375.149194  377.052582   65676000

[3396 rows x 5 columns]

In [3]:
intervals = [1, 2, 3, 5, 14, 21, 50]
for t in intervals:
    spy[f'f_ret_{t}'] = spy.Close.pct_change(t)

spy['f_natr'] = ta.NATR(spy['High'], spy['Low'], spy['Close'])
spy['f_rsi'] = ta.RSI(spy['Close'])
upper, middle, lower = ta.BBANDS(spy['Close'])

spy['f_norm_upper'] = upper/spy['Close']
spy['f_norm_lower'] = lower/spy['Close']
spy['f_norm_middle'] = middle/spy['Close']

spy.dropna(inplace=True)
spy.drop(['Open', 'High', 'Low', 'Volume'],axis=1,inplace=True)
spy

,Close,f_ret_1,f_ret_2,f_ret_3,f_ret_5,f_ret_14,f_ret_21,f_ret_50,f_natr,f_rsi,f_norm_upper,f_norm_lower,f_norm_middle
Date,,,,,,,,,,,,,
2009-03-17,59.638954,0.030583,0.027468,0.035497,0.083275,0.017042,-0.055340,-0.158993,3.691379,53.664765,1.013052,0.922328,0.967690
2009-03-18,60.973919,0.022384,0.053651,0.050467,0.100358,0.056995,0.008963,-0.139149,3.694927,57.365335,1.007049,0.922440,0.964744
2009-03-19,60.218716,-0.012386,0.009721,0.040601,0.045563,0.067767,-0.001139,-0.155451,3.683051,54.703675,1.025887,0.945230,0.985559
2009-03-20,58.936405,-0.021294,-0.033416,-0.011780,0.015364,0.094321,-0.011780,-0.147909,3.716001,50.425422,1.046203,0.973853,1.010028
2009-03-23,63.169746,0.071829,0.049005,0.036013,0.091596,0.181796,0.069601,-0.090417,3.704093,61.210804,1.005176,0.913069,0.959123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-23,374.792297,0.009803,0.007972,0.033346,0.001300,-0.090316,-0.043401,-0.136904,2.564619,41.207044,1.010850,0.955454,0.983152
2022-06-24,386.708405,0.031794,0.041908,0.040019,0.068499,-0.045732,-0.005395,-0.106151,2.528335,49.154390,1.005813,0.925544,0.965679
2022-06-27,385.231293,-0.003820,0.027853,0.037928,0.062128,-0.052263,-0.017871,-0.119649,2.428797,48.283114,1.015780,0.946381,0.981080
2022-06-28,377.359894,-0.020433,-0.024175,0.006851,0.014877,-0.080449,-0.056785,-0.126763,2.539356,43.825117,1.036293,0.972660,1.004477
2022-06-29,377.052582,-0.000814,-0.021231,-0.024969,0.015892,-0.071098,-0.080135,-0.127833,2.432198,43.655645,1.033850,0.982998,1.008424

In [4]:
spy['return'] = spy['Close'].pct_change().shift(-1)

In [5]:
spy

,Close,f_ret_1,f_ret_2,f_ret_3,f_ret_5,f_ret_14,f_ret_21,f_ret_50,f_natr,f_rsi,f_norm_upper,f_norm_lower,f_norm_middle,return
Date,,,,,,,,,,,,,,
2009-03-17,59.638954,0.030583,0.027468,0.035497,0.083275,0.017042,-0.055340,-0.158993,3.691379,53.664765,1.013052,0.922328,0.967690,0.022384
2009-03-18,60.973919,0.022384,0.053651,0.050467,0.100358,0.056995,0.008963,-0.139149,3.694927,57.365335,1.007049,0.922440,0.964744,-0.012386
2009-03-19,60.218716,-0.012386,0.009721,0.040601,0.045563,0.067767,-0.001139,-0.155451,3.683051,54.703675,1.025887,0.945230,0.985559,-0.021294
2009-03-20,58.936405,-0.021294,-0.033416,-0.011780,0.015364,0.094321,-0.011780,-0.147909,3.716001,50.425422,1.046203,0.973853,1.010028,0.071829
2009-03-23,63.169746,0.071829,0.049005,0.036013,0.091596,0.181796,0.069601,-0.090417,3.704093,61.210804,1.005176,0.913069,0.959123,-0.019703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-23,374.792297,0.009803,0.007972,0.033346,0.001300,-0.090316,-0.043401,-0.136904,2.564619,41.207044,1.010850,0.955454,0.983152,0.031794
2022-06-24,386.708405,0.031794,0.041908,0.040019,0.068499,-0.045732,-0.005395,-0.106151,2.528335,49.154390,1.005813,0.925544,0.965679,-0.003820
2022-06-27,385.231293,-0.003820,0.027853,0.037928,0.062128,-0.052263,-0.017871,-0.119649,2.428797,48.283114,1.015780,0.946381,0.981080,-0.020433
2022-06-28,377.359894,-0.020433,-0.024175,0.006851,0.014877,-0.080449,-0.056785,-0.126763,2.539356,43.825117,1.036293,0.972660,1.004477,-0.000814
2022-06-29,377.052582,-0.000814,-0.021231,-0.024969,0.015892,-0.071098,-0.080135,-0.127833,2.432198,43.655645,1.033850,0.982998,1.008424,NaN

In [6]:
spy['target'] = np.where(spy['return'] > 0, 1, 0)
spy = spy[1:-1]

In [7]:
spy

,Close,f_ret_1,f_ret_2,f_ret_3,f_ret_5,f_ret_14,f_ret_21,f_ret_50,f_natr,f_rsi,f_norm_upper,f_norm_lower,f_norm_middle,return,target
Date,,,,,,,,,,,,,,,
2009-03-18,60.973919,0.022384,0.053651,0.050467,0.100358,0.056995,0.008963,-0.139149,3.694927,57.365335,1.007049,0.922440,0.964744,-0.012386,0
2009-03-19,60.218716,-0.012386,0.009721,0.040601,0.045563,0.067767,-0.001139,-0.155451,3.683051,54.703675,1.025887,0.945230,0.985559,-0.021294,0
2009-03-20,58.936405,-0.021294,-0.033416,-0.011780,0.015364,0.094321,-0.011780,-0.147909,3.716001,50.425422,1.046203,0.973853,1.010028,0.071829,1
2009-03-23,63.169746,0.071829,0.049005,0.036013,0.091596,0.181796,0.069601,-0.090417,3.704093,61.210804,1.005176,0.913069,0.959123,-0.019703,0
2009-03-24,61.925125,-0.019703,0.050711,0.028337,0.038334,0.131701,0.087433,-0.088821,3.672594,57.266114,1.032415,0.939152,0.985784,0.010545,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-22,371.154053,-0.001813,0.023315,0.025521,0.005717,-0.081991,-0.034963,-0.159892,2.666927,38.480883,1.019872,0.965183,0.992528,0.009803,1
2022-06-23,374.792297,0.009803,0.007972,0.033346,0.001300,-0.090316,-0.043401,-0.136904,2.564619,41.207044,1.010850,0.955454,0.983152,0.031794,1
2022-06-24,386.708405,0.031794,0.041908,0.040019,0.068499,-0.045732,-0.005395,-0.106151,2.528335,49.154390,1.005813,0.925544,0.965679,-0.003820,0
2022-06-27,385.231293,-0.003820,0.027853,0.037928,0.062128,-0.052263,-0.017871,-0.119649,2.428797,48.283114,1.015780,0.946381,0.981080,-0.020433,0
2022-06-28,377.359894,-0.020433,-0.024175,0.006851,0.014877,-0.080449,-0.056785,-0.126763,2.539356,43.825117,1.036293,0.972660,1.004477,-0.000814,0

In [8]:
spy.to_csv('spy_generated_features.csv')